@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
  width: 1024px;
  margin:0px auto;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  background-size: 50px 50px;
  background-position: 0 0,25px 25px;
  margin-top: 2em;
}

h1{
  font-family: 'Roboto', sans-serif;
  color: #4f626c;
  font-size: 50px;
  font-family: Cambria;
  padding-left: 4%;
  padding-top: 10;
}

li{
  padding-right: 10%;
  padding-bottom: 0px;
}

ul{
  font-size: 25px;
  font-family: serif;
  padding-left: 4%;
  padding-right: 5% ;
  display: flex;
}

p{
  font-size: 120%;
  font-family:georgia;
  width: 95%;
  padding-left: 4%;
  padding-right: 4%;
}

#profesion{
  font-size: 40px;
  font-family: serif;
  padding-left: 4%;
}

#info{
  font-size: 30px;
  font-family: serif;
  padding-left: 4%;
}

a{
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin: 150px 11px;
    padding: 10px 2px 10px 2px; 
    background-color: #4f626c;
    color: white;
    text-decoration: none;
    --animation: animation1 1s;
}

a:hover{
  background-color: #B2B2B2;
  color: #3C4048;
}

a:active{
    background-color: #0c3821;
    color: whitesmoke;
  }



.name{
    color: #4f626c;
    font-size: 50px;
    font-family: Cambria; 
    padding-left: 4%;
    padding-top: 10;  
}

.inicio{
  padding-top: 2em;
  width: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px 10px;
  margin: 150px 13px;
  padding: 5px 5px;
  background-color: #4f626c;
  color: white;
  text-decoration: none;
}

.sombra{
  display: flex;
  align-items: flex-end;
}

#foto-sombra{
  box-shadow: 10px 20px 20px black;
  border: 10px solid #4f626c;
}

footer{
  display: flex;
  padding-left:  50px;
}

.correo{
  padding-left:  5%;
  padding-top: 40px;
}

.celular{
  padding-left:  70px;
  width: 500px;
  padding-top: 70px;
}

button{
  border: 0;
  background-image: linear-gradient(150deg, #9500ff,#09f,#00ddff);
  border-radius: 8px;
  color: #ffffff;
  /* font-size: 15px; */
  padding: 2px;
  /* margin-left: 10px; */
  cursor: pointer;
  transition: .3s;
  margin-top: 20px;
}

button span{
  background-color: #575b57;
  padding: 1x 1px;
  border-radius: 6px;
  transition: .3s;
}

button:hover span{
  background: none;
}

button:active{
  transform:  scale(0.9);
}


.acordeon-cuerpo {
  width: 80%;
  margin: auto;
}

.acordeon h1 {
  text-align: center;
}

.contenedor {
  margin-top: 30px;
}

.label {
  background-color: #eee;
  padding: 20px;
  cursor: pointer;
}
.label:hover{
  color: #4f626c;
  background-color: #1d819d;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .3s ease-in-out;
}

.content.open {
  max-height: 500px;
}

